html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.block {
    width: 100%;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    z-index: 10000;
    background: rgb(0, 255, 157);
}

.block ul {
    float: right;
    width: 40%;
    margin: 0;
}

.block ul li {
    list-style: none;
    display: inline-block;
    float: right;
    padding: 0;
}

.block ul li a {
    display: block;
    padding: 20px 10px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    transition: all 0.5s ease;
}

.block ul li a:hover {
    background: orange;
    border-bottom: 2px solid #000;
}

.block1 {
    margin-top: 50px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    height: 600px;
    position: relative;
    background: rgb(122, 122, 129);
}

.block1-content {
    position: static;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    float: left;
    width: 30%;
    background: orange;

}

.block1-content2 {
    position: static;
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
    float: right;
    width: 30%;
    background: orange;

}

.block2  {
    width: 100%;
    min-height: 600px;
    box-sizing: border-box;
    position: relative;
    background: #62881cfb;
}

.block2-content {
    position: absolute;
    width: 30%;
    top: calc(50% - 170px);
    left: 20px;
    padding: 20px;
    height: 50%;
    background: #df989c;
}

.block2-content2 {
    position: absolute;
    width: 30%;
    top: calc(50% - 170px);
    right: 20px;
    padding: 20px;
    height: 50%;
    background: #df989c;
}

.block3 {
    position: relative;
    width: 100%;
    height: 690px;
    background: #881c5ffb;
}

.block3-content {
    position: absolute;
    width: 30%;
    height: 300px;
    
    left 0;
    padding: 20px;
    background: blue;

}

.block3-content p {
    font-size: 25px;
    font-weight: 700;
}

.block3-content p a:hover {
    color: red;
}


.block3-content2 {
    position: absolute;
    width: 30%;
    height: 300px;
    right: 0;
    padding: 20px;
    background: blue;
}

.block3-content3 {
    position: absolute;
    width: 30%;
    height: 300px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background: blue;
}

.block4 {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    min-height: 800px;
    background: #172ABE;
    background: -webkit-radial-gradient(top right, #172ABE, #EB7A72);
    background: -moz-radial-gradient(top right, #172ABE, #EB7A72);
    background: radial-gradient(to bottom left, #172ABE, #EB7A72);
}

.f1 {
    flex-basis: 500px;
    line-height: 0;
    align-self: flex-start;
    background: #8380FA;
    background: -webkit-radial-gradient(top right, #8380FA, #E7E21F);
    background: -moz-radial-gradient(top right, #8380FA, #E7E21F);
    background: radial-gradient(to bottom left, #8380FA, #E7E21F);
    transition: all 0.5s ease;
}

.f1:hover {
    transform: translateY(-20px);
}

img {
    width: 100%;
    height: auto;
}
/* .block1 {
    width: 100px;
    height: 100px;
    background: #0000ff;
    margin: 10px;
    float: left;
}

.block1 .block1-content {
    width: 50px;
    height: 50px;
    background: #50ad30;
    margin: 25px;
    
}

.block2 {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 10;
    margin: 10px 10px 0 10px;
    float: right;
    background: #d709cc;
}

.block2 .block2-content {
    width: 50px;
    height: 150px;
    background: #50ad30;
    margin: 25px;
    position: relative;
    border-radius: 25px;
}

.block2-content-inner {
    width: 25px;
    height: 75px;
    background: #d7af66;
    border-radius: 25px;
    margin: 0 12.5px;
    position: absolute;
    top: 32.5px;
}


.block3 {
    width: 100px;
    height: 100px;
    float: right;
    clear: right;
    margin: 0 10px 10px 10px;
    background: crimson;
} */
