html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    background: linear-gradient(#547285, #068746);
    box-shadow: 0 2px 15px #000;
}

header nav {
    display: flex;
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav .logo {
    display: flex;
    flex-basis: 280px;
    justify-content: space-between;
    align-items: center;
    height: 46px;
}

header nav .logo h3 {
    margin: 0;
}

header nav h3 a {
    color: #ffffff;
    text-shadow: 3px 3px 8px #000;
    font-size: 33px;
    transition: all 0.5s ease;
}

header nav h3:hover {
    color: rgb(231, 8, 8);
}

header nav ul {
    display: flex;
    flex-basis: 600px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    display: block;
    color: #ffffff;
    font-size: 1.3em;
    border-radius: 5px;
    padding: 10px 15px;
    background: #945c5c;
    border: 1px solid #000;
    text-shadow: 3px 3px 4px #000;
    box-shadow: 8px 8px 15px #000;
    transition: all 0.5s ease;
}

header nav ul li a:hover {
    background: #547a6a;
}

header nav ul li a:active {
    box-shadow: inset 0 0 10px #000;
}

main {
    width: 100%;
    flex-grow: 1;
    margin-top: 74px;
    background: #6EF954;
    background: -webkit-linear-gradient(top right, #6EF954, #691918);
    background: -moz-linear-gradient(top right, #6EF954, #691918);
    background: linear-gradient(to bottom left, #6EF954, #691918);
}

main .mblock {
    display: flex;
    flex-basis: 100%;
    position: relative;
    height: 93vh;
    background: #252525;
}

main .mblock:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000, transparent);
    opacity: 0.5;
}



.child_main_block1 .content1 .cart {
    width: 500px;
    height: 300px;
    padding: 20px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(163, 44, 218);
    color: #068746;
    text-shadow: 3px 3px 8px #000;
    font-size: 20px;
}

footer {
    width: 100%;
}

.footer-blog {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
    background: pink;
    align-items: center;
}

.social_icon ul {
    margin: 0;
    padding: 20px 0;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.social_icon ul li a {
    display: block;
}

.social_icon ul li a img {
    width: 40px;
}

.contact_info span {
    font-size: 30px;
    color: blue;
    font-weight: 790;
}