html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    background: linear-gradient(#547285, #068746);
    box-shadow: 0 2px 15px #000;
}

header nav {
    display: flex;
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav .logo {
    display: flex;
    flex-basis: 280px;
    justify-content: space-between;
    align-items: center;
    height: 46px;
}

header nav .logo h3 {
    margin: 0;
}

header nav h3 a {
    color: #ffffff;
    text-shadow: 3px 3px 8px #000;
    font-size: 33px;
    transition: all 0.5s ease;
}

header nav h3:hover {
    color: rgb(231, 8, 8);
}

header nav ul {
    display: flex;
    flex-basis: 600px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    display: block;
    color: #ffffff;
    font-size: 1.3em;
    border-radius: 5px;
    padding: 10px 15px;
    background: #945c5c;
    border: 1px solid #000;
    text-shadow: 3px 3px 4px #000;
    box-shadow: 8px 8px 15px #000;
    transition: all 0.5s ease;
}

header nav ul li a:hover {
    background: #547a6a;
}

header nav ul li a:active {
    box-shadow: inset 0 0 10px #000;
}

main {
    width: 100%;
    flex-grow: 1;
    margin-top: 74px;
    position: relative;
    background: #6EF954;
    background: -webkit-linear-gradient(top right, #6EF954, #691918);
    background: -moz-linear-gradient(top right, #6EF954, #691918);
    background: linear-gradient(to bottom left, #6EF954, #691918);
}

main .mblock {
    display: flex;
    flex-basis: 100%;
    position: relative;
    height: 93vh;
    background: #252525;
}

main .mblock:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000, transparent);
    opacity: 0.5;
}

main .child_main_block1 .container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/enot.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: #444444;
}

main .child_main_block1 .container .scroll {
        position: fixed;
        top: 50%;
        right: 0;
        z-index: 10000;
}

main .child_main_block1 .container .scroll .r1 {
    border-radius: 15px;
}

main .child_main_block1 .container .scroll .up a {
    width: 50px;
    display: block;
    padding: 25px 0;
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    background: #f17d7d;
    border-radius: 10px;
}

main .child_main_block1 .container .scroll .down a {
    width: 50px;
    display: block;
    padding: 25px 0;
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    background: #41a5d3;
    border-radius: 10px;
    width: 50px;
}

main .child_main_block1 .container .content {
    display: flex;
    flex-basis: 100%;
    height: 93vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main .child_main_block1 .container .content h1 {
    color: #ffffff;
    font-size: 3em;
    margin: 0;
    text-shadow: 3px 3px 8px #000;
}

.child_main_block2 .container {
    position: relative;
    height: 100%;
    width: 100%;
}

.child_main_block2 .container .content {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../images/waterfall.jpg);
    background-position: center;
    transition: 0.5s;
}

.child_main_block2 .container .content2 {
    width: 600px;
    height: 450px;
    position: absolute;
    margin: 0 auto;
    padding: 50px;
    left: 0;
    right: 0;
    top: 50%;
    background: url(../images/waterfall.jpg);
    background-position: center;
    transform: translate(0, -50%);
    overflow: hidden;
    z-index: 2;
    transition: 0.5s;
}

.child_main_block2 .container .content2 p {
    font-size: 23px;
    color: transparent;
    transition: 0.5s;
}

.child_main_block2 .container .content2:hover {
    box-shadow: 0 0 20px 8px #000;
    background-blend-mode: overlay;
    background-color: #444444;
}

.child_main_block2 .container .content2:hover > p {
    color: #fff;
    text-shadow: 3px 3px 6px #000;
}

.child_main_block2 .container .content2:hover ~ .content {
    filter: blur(10px);
}

main .child_main_block3 .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    background: url(../images/vetton.jpg);
    background-size: cover;
    background-attachment: fixed;
}

main .child_main_block3 .container .content {
    position: relative;
    max-width: 600px;
    overflow: hidden;
    padding: 50px;
    box-shadow: 0 0 15px 5px #000;
}

main .child_main_block3 .container .content:before {
    content: '';
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    background: url(../images/vetton.jpg);
    background-blend-mode: overlay;
    background-color: #444444;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(2px);
}

main .child_main_block3 .container .content h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 48px;
    z-index: 3;
    text-shadow: 3px 3px 6px #000;
    color: #fff;
}

main .child_main_block3 .container .content p {
    position: relative;
    font-size: 25px;
    z-index: 3;
    text-shadow: 3px 3px 6px #000;
    color: #fff;
}

main .child_main_block4 .container {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 100%;
    background:url(../images/vetton1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

main .child_main_block4 .container .content {
    position: relative;
    width: 500px;
    height: 300px;
    padding: 30px;
    box-shadow:  0 0 15px 8px rgb(14, 169, 189);
}

main .child_main_block4 .container .content h2{
    text-transform: uppercase;
    font-size: 30px;
    text-shadow: 3px 3px 6px #000;
    color: #fff;
    position: relative;
    z-index: 2;
}

main .child_main_block4 .container .content p {
    font-size: 20px;
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
    color: #fff;
    position: relative;
    z-index: 2;
}


main .child_main_block4 .container .content a {
    display: block;
    padding: 20px;
    position: relative;
    float: left;
    text-transform: capitalize;
    background: #b63636;
    box-shadow: 8px 8px 15px rgb(179, 7, 93);
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
    color: rgb(21, 230, 212);
    border-radius: 10px;
    transition: 0.5s;
    font-size: 20px;
}

@media screen and (max-width: 1680px) {
    main .child_main_block4 .container .content {
        width: 400px;
        height: 200px;
    }

    main .child_main_block4 .container .content h2{
        font-size: 1em;
    }
    
    main .child_main_block4 .container .content p {
        font-size: 1em;
    }

    main .child_main_block4 .container .content a {
        padding: 10px;
    }
}

main .child_main_block4 .container .content:before {
    content: '';
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    opacity: 0.3;
    background-color: #515151;
}

main .child_main_block4 .container .content a:hover {
    box-shadow: 8px 8px 15px #A6EA04;
    color: #A6EA04;
}

footer {
    width: 100%;
}

.footer-blog {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
    background: pink;
    align-items: center;
}

.social_icon ul {
    margin: 0;
    padding: 20px 0;
    width: 300px;
    display: flex;
    line-height: 0;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.social_icon ul li a {
    display: block;
}

.social_icon ul li a img {
    width: 40px;
    background: #fff;
    box-shadow: 5px 5px 10px #000;
}

.contact_info span {
    font-size: 30px;
    color: blue;
    font-weight: 790;
}



   